hr {
    height: 3px;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: none;
    background: var(--orange); 
}

img,
video {
  margin: 0;
  max-width: 100%;
}

figure {
    padding: 12px;
}

figure figcaption {
    font-size: smaller;
    color: bisque;
}

li {
    margin-left: 8%;
}

h1, h2, h3, h4 {
    margin-top: 12px;
}

h2 {
    margin-bottom: 12px;
}