:root {
    --bg-primary: #1d2021;
    --bg-secondary: #1d2021;
    --primary: #cc241d;
    --text-primary: #d5c4a1;
    --text-secondary: #d5c4a1;

    /* --bg-primary: #d5c4a1;
    --bg-secondary: #d5c4a1;
    --primary: #cc241d;
    --text-primary: #1d2021;
    --text-secondary: #1d2021; */

    /* --bg-primary: #1d2021;
    --bg-secondary: #282828;
    --primary: #cc241d;
    --text-primary: #fbf1c7;
    --text-secondary: #bdae93; */

    /* --bg-primary: #fbf1c7;
    --bg-secondary: #f2e5bc;
    --primary: #cc241d;
    --text-primary: #1d2021;
    --text-secondary: #3c3836; */
}


* {
    padding: 0;
    margin: 0;
    color: var(--text-primary);
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--bg-secondary);
    overflow-y: scroll;
}

.horizontalcenter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-container {
    position: relative;
    min-height: 100%;
    width: 620px;
    background-color: var(--bg-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
}

.post-list-item {
    display: flex;
    gap: 0.5rem;
    color: #bdae93;
}

.post-list-item p {
    color: #bdae93;
}

.post-list-item a {
    color: #458588;
}

.page-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.spacer {
    height: 3px;
    width: 90%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.title-greet {
    font-weight: bold;
    font-size: xx-large;
}

.gradient-text {
    background: var(--primary);
    background-clip: text;
    color: transparent; 
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.nav div {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.nav a {
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    font-size: medium;
    font-weight: bold;
    text-decoration: none;
}

.text-padding {
    font-size: larger;
    width: 90%;
}

@media (max-width: 620px) {
    .main-container {
        width: 100%;
    }

    .nav {
        flex-direction: column;
        gap: 0.5rem;
    }
}

/*
-----------------
    Projects
-----------------
*/
.projects-grid {
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 240px);
    gap: 24px;
    padding-top: 2rem;
}
.project-container {
    width: 240px;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    transition: transform .2s;
    gap: 12px;
}

.project-container:hover {
    transform: scale(1.1);
}

.project-preview {
    width: 95%;
    background: var(--primary);
    padding: 3px;
}

.project-title {
    font-weight: bold;
}

.project-desc {
    color: bisque;
}
