hr {
    height: 1px;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: none;
    background: var(--text-secondary); 
}

br {
    margin-bottom: 0.5rem;
}

img,
video {
  margin: 0;
  max-width: 100%;
}

figure {
    padding: 12px;
}

figure figcaption {
    font-size: smaller;
    color: var(--text-secondary);
}

li {
    margin-left: 8%;
}

h1, h2, h3, h4 {
    margin-top: 12px;
    margin-bottom: 12px;
}

p {
    text-align: justify;
}

p + P {
    margin-top: 12px;
}
