@tailwind base;
@tailwind components;
@tailwind utilities;

.slide-in-left {
    animation: SlideInLeft 2s;
}

@keyframes SlideInLeft {
    0% {
        transform: translateX(-900px);
    }

    100% {
        transform: translateX(0);
    }
}